* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

body {
    background: #f2f4f7;
}    

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20%;
    background: linear-gradient(90deg, 
                #202122,
                #292828,
                #1a1c1d);
    color: #fff;            
}

h2 {
            font-size: 24px;
            color: #ee4d2d;
}
.search-bar {
        position: relative;
        width: 40%;
}

.search-bar input{
    width: 100%;
    padding: 15px;
    padding-left: 40px;
    border-radius: 99px;
}

.search-bar i{
    position: absolute;
    top: 37%;
    left: 14px;
    color: #aaa;
}

nav {
    display: flex;
    gap: 30px;
    align-items:  center;
}

nav a {
    color: #fff;
    font-size: 20px;
}

nav a.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}

main {
    width: 60%;
    margin: auto;
}